:root {
  --primary: rgb(56, 116, 203);
  --primary-bg: rgb(16, 18, 20);
  --secondary-bg: rgb(22, 24, 27);
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 2px solid red;
  height: 100vh;
  background-color: var(--primary-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
}